.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #727070;
    border-radius: 8px;
    font-family: sans-serif;
    background-color: 727070v;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #8bf19a;
  border-radius: 4px;
}

.login-container button[type="submit"] {
  width: 100%;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button[type="submit"]:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}